---
import Layout from '../layouts/Layout.astro';
import '../components/cyber-elements';
---

<Layout title="Welcome to Astro.">
	<main style="padding: 24px">
		<cyber-button disabled={true} styles={{ margin: '12px' }}>test</cyber-button>
		<cyber-button color='pink'>test</cyber-button>
	</main>
</Layout>